*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
h1{
  text-align: center;
  margin: 0px auto;
}

.header{
    width: auto;
    height: 1000px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    font-family: 'Poppins';
    font-size: 1.2em;
    top: 0;
    background-image: url("Photos/myself.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover  ;
}


.inner{
    width: 1300px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.logo{
    display: table;
    height: 100%;
    float: left;
}

.myself{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    
}
.myself h1{
    color :white;
    font-family: 'Bradley Hand', cursive;
    
}

.liste{
    margin-top: 20px;
    float:right;
    margin-right:0px;
    height: 100%;
    left: 50%;
    position: sticky;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    
}

.liste li{
    float: left;
    margin-right: 30px;
    
}


.liste span {
    display: table-cell;
    vertical-align: middle;
}

.liste a{
    padding: 0.5rem;
    transition: all 0.5s ease-out;
    color: whitesmoke;
    font-size: 1.5em;
}
.liste a:hover{
    color: orangered;
    font-size: 1.7em;
}
.About{
  padding-top: 50px;
}

.Projects_class{
  padding-top:150px;
  background-image: url(Photos/background_mnist.png);
  background-size: 1000px;
  margin: 0px auto;
  background-attachment: fixed;
  width:100%;
  height: 700px;
}
#Projects{
  text-align: center;
}


.About p.introducing{
  font-size: 1.4em;
  font-family:Cambria ,serif;
  color:#717171;
  text-align: center;
}
.About p.intro_continue{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 40px;
  font-size: 1.2em;
  padding-right: 50px;
}
.About img{
    border-radius: 50px;
    width: 500px;
    height: 600px;
    clear:both;
    margin-right: 50px;
    
}
.intr h1{
    text-align: center;
    margin: 0px auto;
    
}
.intr{
    margin-top:50px;
    margin-left: 50px;
}
.intr p{
    margin-top: 60px; 
    font-family: 'Times New Roman', Times, cursive;
    font-size: 1.2em;
}
.knowledges dl{
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 1.2em;
}
.edu{
    padding-top: 80px;
    font-size: 1.2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 300px;
    background-image: url("Photos/edu2.jpg");
    background-size: auto;
    color:beige;
    
}


.space{
  margin-top: 100px;
}


.Contact .phrase{
    padding-top: 100px;
    text-align :center;
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:2.5em;
}
.Contact p{
    text-align :center;
    color:dimgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

.Contact h1{
    text-align: center;
    margin: 0px auto;
    
}
.Sys h1{
    text-align: center;
    margin: 0px auto;
    background-color:black;
    font-size: 1.2em;
    background-image: url("Photos/sky.jpg");
    background-size: 1000px;
}
.Sys a{
  padding: 0.5rem;
  transition: all 0.5s ease-out;
}
.Sys a:hover{
    color:aquamarine;
    font-size: 1.3em;
}
.Sys{
    text-align: center;
    margin: 0px auto;
    background-color:black;
    color:white;
    font-size: 1.6em;
    background-image: url("Photos/sky.jpg");
    background-size: 1500px;
    
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    
    margin: auto;
  }
  
  /* Hide the images by default */
 
  .prev {
    right: 966.5px;
    border-radius: 3px 0 0 3px;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .icons li{
    
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-left: 20px;
    
    
  }
  .icons img{
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    height: 100px;
    width: 100px;
  }
  .icons{
      padding-left: 440px;
  }
  .icons a:hover img{
    height: 120px;
    width: 120px;
    transform: rotate(360deg);
  }

  .slideshow-container_for_projects{
    max-width: 1000px;
    padding-left: 200px;
   
  }
  .slideshow-container_for_projects img{
    padding:1px;
    border:5px solid black;
    background-color:silver;
  }
  .slideshow-container_for_projects P{
    color: gold;
  }

  #description{
    background:black;
    position: absolute;
    right: 100px;
    width: 500px;
    height: 450px;
  }
  #description p{
    font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
    font-weight: 300;
    font-size: 15px;
    color: white;
    line-height: 26px;
    text-align: center;
    
}




#s a:hover{
  color: orangered;
  font-size: 1.7em;
}
h2{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  font-size: 35px;
  color:black;
  line-height: 100px;
}

@media only screen and (max-width: 550px) {
  .header{
    background-size: cover;
    width: 500px;
    background-image: url("Photos/myself.jpg");
    height: 1000px;
  }
  .liste{
    
    float:left;
    transition: width 2s, height 2s, background-color 2s, transform 2s;

  }
  .liste li{
    float: none;
    margin-left:-300px;
  }
  .liste a{
    padding: 0.5rem;
    transition: all 0.5s ease-out;
    color: whitesmoke;
    font-size: 1.1em;
    float:left;
    display:block;
    text-align: left;
  }
  .inner{
    width: 700px;
    height: 100%;
    display: block;
    
  }
  .liste a:hover{
    color: orangered;
    font-size: 1.2em;
  }


#textCar{
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  width: 500px;
  height: 450px;
  left:5px;

}
.slideshow-container_for_projects{

  max-width: 1000px;
  top:150px;
  right:200px;
  margin-bottom: 200px;
}

.scripting{
  position: relative;
  right: 120px;
  top:420px
}

#description{
  margin-left:500px;
  margin-right:-100px
}

.icons li{
    
  display: inline-block;
  height: 100px;
  width: 100px;
  margin-left: 20px;
  
}
.icons img{
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  height: 100px;
  width: 100px;
}
.icons{
    padding-left: 440px;
    position: relative;
    right:280px
}
.icons a:hover img{
  height: 120px;
  width: 120px;
  transform: rotate(360deg);
}


}


.styled-table {
  background-color: white;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  column-rule: solid 3px;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    
    padding: 12px 15px;
}


.styled-table tbody tr {
  border-bottom: 1px solid #009879;
}

.styled-table tbody tr{
  color :black
}

.styled-table tbody tr{
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.AI-SELF-drCars{
  background-image: url("ProjectPhotos/machines.jpg");
  background-size: 1550px;
}


#textCar{
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  right: 100px;
  width: 500px;
  height: 450px;
  
}
#textCar p{
  font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
  font-weight: 400;
  font-size: 16px;
  color: black;
  line-height: 26px;
  text-align: center;
  
}